[submodule "ModImporter"]
	path = ModImporter
	url = https://github.com/SGG-Modding/ModImporter.git
[submodule "SGGMI"]
	path = SGGMI
	url = https://github.com/SGG-Modding/SGGMI.git
[submodule "ModUtil"]
	path = ModUtil
	url = https://github.com/SGG-Modding/ModUtil.git
